.friend {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.friend .friend__avatar {
   width: 50px;
   height: 45px;
   border-radius: 37%;
}

.friend__avatar.g-avatar {
    width: 70px;
    height: 65px;
}

.friend__avatar.m-avatar {
    width: 60px;
    height: 55px;
}

.friend .friend__column{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.friend .friend__avatar{
    margin-right: 15px;
}

.friend__content .friend__name{
 display: block;
 font-weight: 600;
 margin-bottom: 5px;
}
.friend__content .friend__status,
.friend__content .friend__bottom-text,
.friend .chat__timestamp  {
    opacity: 0.6;
}

.friend__content .friend__bottom-text {
    font-size: 14px;
}
.friend__content .friend__statu,
.friend .chat__timestamp {
    font-size: 12px;
}

.friend .friend__now-listening{
    border: 3px solid rgba(80, 201, 245, 0.883);
    padding:5px 10px;
    border-radius: 15px;
    font-size: 12px;
    }

.friend__now-listening span {
    opacity: 0.6;
    font-size: 12px;
}
.friend__now-listening i {
    font-size: 9px;
}

.friend__add-btn{
    display: center;
    padding: 10px 15px;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 5px;
}
